<template>
    <div class="svk">
        <landing-section-header />
        <landing-section-introduction />
        <landing-section-subintro />
        <landing-section-process />
        <landing-section-recs />
        <landing-section-news />
        <landing-section-faq />
        <!-- <landing-section-calculator /> -->
        <landing-section-footer />
    </div>
</template>

<script>
import landingSectionHeader from "@/sections/landing-section-header.vue";
import landingSectionIntroduction from "@/sections/landing-section-introduction.vue";
import landingSectionSubintro from "@/sections/landing-section-subintro.vue";
import landingSectionProcess from "@/sections/landing-section-process.vue";
import landingSectionRecs from "@/sections/landing-section-recs.vue";
import landingSectionNews from "@/sections/landing-section-news.vue";
import landingSectionFaq from "@/sections/landing-section-faq.vue";
import landingSectionFooter from "@/sections/landing-section-footer.vue";
// import LandingSectionCalculator from "@/sections/landing-section-calculator";

export default {
    name: "App",
    components: {
        landingSectionHeader,
        landingSectionIntroduction,
        landingSectionSubintro,
        landingSectionProcess,
        landingSectionRecs,
        landingSectionNews,
        landingSectionFaq,
        landingSectionFooter,
        // LandingSectionCalculator,
    },
};
</script>
