<template>
    <div class="svk">
        <landing-section-header />
        <landing-section-about />
        <landing-section-footer />
    </div>
</template>

<script>
import landingSectionHeader from "@/sections/landing-section-header.vue";
import landingSectionAbout from "@/sections/landing-section-about.vue";
import landingSectionFooter from "@/sections/landing-section-footer.vue";
// import LandingSectionCalculator from "@/sections/landing-section-calculator";

export default {
    name: "App",
    components: {
        landingSectionHeader,
        landingSectionAbout,
        landingSectionFooter,
        // LandingSectionCalculator,
    },
};
</script>
