<template>
    <a
        :href="btnLink"
        :target="{_blank: btnTarget}"
        class="svk-btn">
        <img
            v-if="btnLeftIcon"
            class="svk-btn__icon left"
            :src="btnLeftIcon"
            alt="button icon" />
        <p
            v-if="btnText"
            class="svk-btn__text">
            {{ btnText }}
        </p>
        <img
            v-if="btnRightIcon"
            class="svk-btn__icon right"
            :src="btnRightIcon"
            alt="button icon" />
    </a>
</template>

<script>
export default {
    name: "compButton",
    props: {
        btnText: {
            type: String,
            default: "",
        },
        btnLink: {
            type: String,
            default: "/",
        },
        btnLeftIcon: {
            type: String,
        },
        btnRightIcon: {
            type: String,
        },
        btnTarget: {
            type: Boolean,
            default: false,
        },
    },
};
</script>

<style lang="scss">
.svk-btn {
    all: unset;
    user-select: none;
    box-sizing: border-box;
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 50px;
    min-width: 100px;
    border-radius: 10px;
    background: #377be1;
    border: 1px solid #377be1;
    transition: 0.3s;
    cursor: pointer;

    &__icon {
        width: 25px;
        height: 25px;
        object-fit: contain;
        display: flex;
    }

    &__text {
        font-size: 16px;
        font-style: normal;
        transition: 0.2s;
        white-space: nowrap;
        color: #fff;
        text-align: center;
        font-weight: 500;
        line-height: 150%;
    }

    &.secondary {
        background: transparent;

        .svk-btn__text {
            color: #1f2937;
        }
    }

    &.squared {
        padding: 0;
        min-width: auto;
        width: 50px;
    }

    &:hover {
        opacity: 0.7;
    }

    &:active {
        transform: scale(0.95);
    }
}
</style>
