<template>
    <header>
        <div
            class="svk-header"
            :class="{scrolled: isScrolled, opened: isMobile}">
            <div class="svk-header__top svk-topheader">
                <div class="svk-topheader__content container">
                    <div class="svk-topheader__links">
                        <a
                            href="/about"
                            class="svk-topheader__link">
                            Loyiha haqida
                        </a>

                        <a
                            href="#!"
                            class="svk-topheader__link sv-dropdown">
                            <p class="svk-topheader__link-toggler">Bank mahsulotlari</p>
                            <div class="svk-topheader__link-body">
                                <a
                                    class="svk-topheader__link-inner"
                                    href="https://agrobank.uz/uz/business">
                                    Ommabop ser...
                                </a>
                                <a
                                    class="svk-topheader__link-inner"
                                    href="https://agrozamin.uz/uz_cyrl/about/agro-business">
                                    Agroservislar
                                </a>
                                <a
                                    class="svk-topheader__link-inner"
                                    href="https://agrozamin.uz/uz_cyrl/all-services">
                                    Servislar
                                </a>
                            </div>
                        </a>

                        <a
                            href="#!"
                            class="svk-topheader__link">
                            Barcha servislar
                        </a>
                    </div>
                    <div class="svk-topheader__actions">
                        <a
                            href="#!"
                            class="svk-topheader__action">
                            <img
                                src="@/assets/images/icon-phone.svg"
                                alt="icon"
                                class="svk-topheader__action-icon" />
                            <p class="svk-topheader__action-text">(78) 150-00-88</p>
                        </a>
                        <a
                            href="#!"
                            class="svk-topheader__action">
                            <img
                                src="@/assets/images/icon-message.svg"
                                alt="icon"
                                class="svk-topheader__action-icon" />
                            <p class="svk-topheader__action-text">On-line chat</p>
                        </a>
                        <a
                            href="#!"
                            class="svk-topheader__action">
                            <img
                                src="@/assets/images/icon-downrate.svg"
                                alt="icon"
                                class="svk-topheader__action-icon" />
                            <p class="svk-topheader__action-text">USD 12 177.66</p>
                        </a>
                        <a
                            href="#!"
                            class="svk-topheader__action">
                            <img
                                src="@/assets/images/icon-sunny.svg"
                                alt="icon"
                                class="svk-topheader__action-icon" />
                            <p class="svk-topheader__action-text">27 °C</p>
                        </a>
                    </div>
                    <div class="svk-topheader__lang svk-langwrapper">
                        <div class="svk-lang">
                            <div class="svk-lang__toggler">
                                <p class="svk-lang__toggler-label">Til: O'zbekcha</p>
                            </div>

                            <div class="svk-lang__body">
                                <ul class="svk-lang__list">
                                    <li
                                        v-for="(item, index) in 4"
                                        :key="index"
                                        class="svk-lang__item">
                                        <!-- <img
                                            src="@/assets/icons/header-icons/icon-la.svg"
                                            alt="lang"
                                            class="svk-lang__item-icon" /> -->
                                        <p class="svk-lang__item-label">O'zbekcha</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="svk-header__main">
                <div class="svk-header__content container">
                    <div class="svk-header__logo">
                        <a
                            class="svk-header__logo-link"
                            @click="scrollToSection('introduction')">
                            <img
                                class="svk-header__logo-image"
                                src="@/assets/images/icon-mainlogo.svg"
                                alt="Unisale logo" />
                        </a>
                    </div>

                    <div class="svk-header__nav">
                        <ul class="svk-header__nav-links">
                            <li class="svk-header__link">
                                <a
                                    @click="scrollToSection('process')"
                                    data-text="Ariza bosqichlari"
                                    class="svk-header__link-txt">
                                    Ariza bosqichlari
                                </a>
                            </li>
                            <li class="svk-header__link">
                                <a
                                    @click="scrollToSection('recs')"
                                    data-text="Tavsiyalar"
                                    class="svk-header__link-txt">
                                    Tavsiyalar
                                </a>
                            </li>
                            <!-- <li class="svk-header__link">
                                <a
                                    @click="scrollToSection('engagement')"
                                    data-text="Kalkulyator"
                                    class="svk-header__link-txt">
                                    Kalkulyator
                                </a>
                            </li> -->
                            <li class="svk-header__link">
                                <a
                                    @click="scrollToSection('news')"
                                    data-text="Yangiliklar"
                                    class="svk-header__link-txt">
                                    Yangiliklar
                                </a>
                            </li>
                            <li class="svk-header__link">
                                <a
                                    @click="scrollToSection('faq')"
                                    data-text="Savol-Javob"
                                    class="svk-header__link-txt">
                                    Savol-Javob
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="svk-header__actions">
                        <!-- actions -->
                        <landing-component-btn
                            class="svk-header__action-btn secondary squared"
                            :btnLink="'#!'"
                            :btnTarget="true"
                            :btnLeftIcon="image1" />
                        <landing-component-btn
                            class="svk-header__action-btn"
                            :btnText="'Kirish'"
                            :btnLink="'#!'"
                            :btnTarget="true"
                            :btnLeftIcon="image2" />
                    </div>

                    <div class="svk-header__mobile">
                        <span
                            class="svk-header__mobile-btn"
                            @click="openMobile"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
</template>

<script>
import landingComponentBtn from "@/components/landing-comp-btn.vue";

export default {
    name: "sectionHeader",
    components: {
        landingComponentBtn,
    },
    data() {
        return {
            isScrolled: false,
            isMobile: false,

            image1: require("@/assets/images/icon-headerbtn.svg"),
            image2: require("@/assets/images/icon-user.svg"),
        };
    },
    mounted() {
        ["mousewheel", "scroll"].forEach((evt) => window.addEventListener(evt, this.handleScroll, false));
        this.checkGoto();
    },
    computed: {
        isMainPage() {
            return this.$route.name == "home";
        },
    },
    methods: {
        handleScroll() {
            let screenWidth = window.innerWidth;
            if (screenWidth < 577) return;

            if (window.pageYOffset > 115) {
                this.isScrolled = true;
            } else if (this.isScrolled && window.pageYOffset <= 115 && window.pageYOffset > 40) {
                return;
            } else {
                this.isScrolled = false;
            }
        },
        openMobile() {
            this.isMobile = !this.isMobile;
        },
        checkGoto() {
            let link = this.$route.query.goto;
            if (!link) return;
            setTimeout(() => {
                this.scrollToSection(link);
            }, 100);
            this.$router.push({path: this.$route.path});
        },
        scrollToSection(id) {
            if (this.isMainPage) {
                let element = document.getElementById(id);
                let targetPosition = element.getBoundingClientRect().top + window.pageYOffset;
                let scrollPosition = targetPosition - 50;

                window.scrollTo({
                    top: scrollPosition,
                    behavior: "smooth",
                });
            } else {
                this.$router.push({
                    path: "/",
                    query: {
                        getTo: id,
                    },
                });
            }
        },
    },
};
</script>
