<template>
    <footer>
        <div class="svk-footer">
            <div class="svk-footer__content container">
                <div class="svk-footer__top">
                    <div class="svk-footer__info">
                        <img
                            src="@/assets/images/icon-footerlogo.svg"
                            alt="logo"
                            class="svk-footer__info-logo" />

                        <p class="svk-footer__info-text">2005–2020 © Barcha huquqlar himoyalangan. Barcha xizmatlar litsenziyalangan.</p>
                        <p class="svk-footer__info-text">Акционерный коммерческий банк «Агробанк» зарегистрирован 29 августа 2014 года Центральным банком Республики Узбекистан под номером 78</p>

                        <div class="svk-footer__mobiles">
                            <a
                                href="#!"
                                class="svk-footer__mobile">
                                <img
                                    src="@/assets/images/icon-google.svg"
                                    alt="icon" />
                            </a>
                            <a
                                href="#!"
                                class="svk-footer__mobile">
                                <img
                                    src="@/assets/images/icon-apple.svg"
                                    alt="icon" />
                            </a>
                        </div>
                    </div>
                    <div class="svk-footer__links">
                        <p class="svk-footer__links-title">Foydali linklar:</p>
                        <a
                            href="#!"
                            class="svk-footer__link">
                            Qonunchilik
                        </a>
                        <a
                            href="#!"
                            class="svk-footer__link">
                            Subsidiya
                        </a>
                        <a
                            href="#!"
                            class="svk-footer__link">
                            Xizmat qanday ishlaydi
                        </a>
                    </div>
                    <div class="svk-footer__links">
                        <p class="svk-footer__links-title">Biz haqimizda:</p>
                        <a
                            href="#!"
                            class="svk-footer__link">
                            Loyiha haqida
                        </a>
                        <a
                            href="#!"
                            class="svk-footer__link">
                            Yangiliklar
                        </a>
                        <a
                            href="#!"
                            class="svk-footer__link">
                            Tavsiyalara
                        </a>
                    </div>
                    <div class="svk-footer__contacts">
                        <p class="svk-footer__links-title">Telegram Bot:</p>
                        <a
                            href="#!"
                            class="svk-footer__contact">
                            <img
                                src="@/assets/images/icon-telegram.svg"
                                alt="icon"
                                class="svk-footer__contact-icon" />
                            <p class="svk-footer__contact-text">On-line Support</p>
                        </a>

                        <p class="svk-footer__links-title">Aloqa markazi:</p>
                        <a
                            href="tel:+998 (99) 370-96-94"
                            class="svk-footer__contact">
                            <img
                                src="@/assets/images/icon-footerphone.svg"
                                alt="icon"
                                class="svk-footer__contact-icon" />
                            <p class="svk-footer__contact-text">+998 (99) 370-96-94</p>
                        </a>
                        <a
                            href="tel:+998 (99) 370-96-95"
                            class="svk-footer__contact">
                            <img
                                src="@/assets/images/icon-footerphone.svg"
                                alt="icon"
                                class="svk-footer__contact-icon" />
                            <p class="svk-footer__contact-text">+998 (99) 370-96-95</p>
                        </a>
                        <a
                            href="tel:+998 (99) 370-96-93"
                            class="svk-footer__contact">
                            <img
                                src="@/assets/images/icon-footerphone.svg"
                                alt="icon"
                                class="svk-footer__contact-icon" />
                            <p class="svk-footer__contact-text">+998 (99) 370-96-93</p>
                        </a>
                    </div>
                </div>

                <div class="svk-footer__credentials">
                    <p class="svk-footer__credentials-copyright">© 2023 Creative Uzbeks. All rights reserved.</p>

                    <a
                        href="#!"
                        class="svk-footer__credentials-link">
                        Пользовательское соглашение
                    </a>
                    <a
                        href="#!"
                        class="svk-footer__credentials-link">
                        Политика в отношении обработки персональных данных
                    </a>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
// import landingComponentBtn from "@/components/landing-component-btn.vue";

export default {
    name: "sectionFooter",
    components: {
        // landingComponentBtn,
    },
};
</script>
