<template>
    <section class="svk-intro">
        <div class="svk-intro__content container">
            <div class="svk-intro__slider">
                <div
                    v-for="(item, index) in slides"
                    :key="index"
                    :class="{'sv-current': index == slidesCurrent}"
                    class="svk-intro__slide introslide">
                    <div class="introslide__desc">
                        <h2 class="introslide__title">{{ index }} Hosildorlik uchun dala suv ta’minotini moliyalashitirish</h2>
                        <p class="introslide__text">{{ index }} Qishloq xo'jaligi ekinlarining optimal suv ta'minoti va farovonligini ta'minlash uchun kreditlar va moliyaviy echimlar.</p>
                        <div class="introslide__actions">
                            <landing-component-btn
                                class="introslide__actions-btn"
                                :btnText="'Ariza yuborish'"
                                :btnLink="'#!'"
                                :btnTarget="true"
                                :btnRightIcon="require('@/assets/images/icon-arrowbutton.svg')" />
                            <landing-component-btn
                                class="introslide__actions-btn secondary"
                                :btnText="'Arizani tekshirish'"
                                :btnLink="'#!'"
                                :btnTarget="true"
                                :btnRightIcon="require('@/assets/images/icon-arrowbuttonbl.svg')" />
                        </div>
                    </div>

                    <div class="introslide__image">
                        <div class="introslide__image-nav">
                            <button
                                @click="slidesCurrent--"
                                :class="{disabled: slidesCurrent == 0}"
                                class="introslide__image-btn">
                                <img
                                    src="@/assets/images/icon-sliderarrow.svg"
                                    alt="arrow" />
                            </button>
                            <button
                                @click="slidesCurrent++"
                                :class="{disabled: slidesCurrent == 2}"
                                class="introslide__image-btn next">
                                <img
                                    src="@/assets/images/icon-sliderarrow.svg"
                                    alt="arrow" />
                            </button>
                        </div>
                        <img
                            class="introslide__image-img"
                            src="https://picsum.photos/200"
                            alt="photo" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import landingComponentBtn from "@/components/landing-comp-btn.vue";

export default {
    name: "sectionIntro",
    components: {
        landingComponentBtn,
    },

    data() {
        return {
            slidesCurrent: 0,
            slides: [
                {
                    label: "lorem",
                    text: "text",
                    image: "image",
                },
                {
                    label: "lorem",
                    text: "text",
                    image: "image",
                },
                {
                    label: "lorem",
                    text: "text",
                    image: "image",
                },
            ],
        };
    },

    methods: {
        next() {
            // this.slidesCurrent:
        },
    },
};
</script>
