<template>
    <section
        id="news"
        class="svk-news">
        <div class="svk-news__content container">
            <div class="svk-news__titling">
                <h2 class="svk-news__title">Yangiliklar</h2>
                <landing-component-btn
                    class="svk-news__titling-btn secondary"
                    :btnText="'AgroNews'"
                    :btnLink="'#!'"
                    :btnTarget="true" />
            </div>

            <div class="svk-news__body">
                <div
                    v-for="item in 3"
                    :key="item"
                    class="svk-news__item svk-newscard">
                    <div class="svk-newscard__cap">
                        <p class="svk-newscard__tag">Mahalliy yangiliklar</p>
                        <p class="svk-newscard__date">25.10.2023</p>
                    </div>

                    <h3 class="svk-newscard__title">Charm-poyabzal va mo’yna ishlab chiqaruvchilarni qo’llab...</h3>
                    <p class="svk-newscard__desc">Charm-poyabzal va mo’ynachilik sohasi korxonalari tomonidan xorijda savdo uyi va do’konini tashkil etish uchun alohida qarorlarsiz yiliga 50 ming...</p>
                    <img
                        class="svk-newscard__image"
                        src="https://picsum.photos/400"
                        alt="image" />
                </div>

                <div class="svk-weather">
                    <p class="svk-weather__title">Ob-havo</p>

                    <div class="svk-weather__tempblock">
                        <p class="svk-weather__tempblock-date">Bugun, 02 Oktyabr</p>
                        <img
                            class="svk-weather__tempblock-icon"
                            src="@/assets/images/icon-weathercloud.svg"
                            alt="icon" />
                        <p class="svk-weather__tempblock-temp">+19</p>
                        <p class="svk-weather__tempblock-appr">+20</p>
                    </div>

                    <div class="svk-weather__infoblock">
                        <p class="svk-weather__infoblock-text">Namlik: 22%</p>
                        <p class="svk-weather__infoblock-text">Shamol: 1.93 m/s</p>
                        <p class="svk-weather__infoblock-text">Bosim: 1013 mm rt. st.</p>
                        <p class="svk-weather__infoblock-text">Quyosh botishi: 18:11</p>
                        <p class="svk-weather__infoblock-text">Quyosh chiqishi: 06:15</p>
                    </div>

                    <div class="svk-weather__tempblock">
                        <p class="svk-weather__tempblock-date">Ertaga, 03 Oktyabr</p>
                        <img
                            class="svk-weather__tempblock-icon"
                            src="@/assets/images/icon-weathercloud.svg"
                            alt="icon" />
                        <p class="svk-weather__tempblock-temp">+20</p>
                        <p class="svk-weather__tempblock-appr">+24</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import landingComponentBtn from "@/components/landing-comp-btn.vue";

export default {
    name: "sectionNews",
    components: {
        landingComponentBtn,
    },
};
</script>
