<template>
    <section
        id="process"
        class="svk-process">
        <div class="svk-process__content container">
            <div class="svk-process__titling">
                <div class="svk-process__titling-texts">
                    <h2 class="svk-process__title">Arizalarni ko’rib chiqish tartibi</h2>
                    <p class="svk-process__desc">Маркетингово-ориентированное издание специфицирует инвестиционный продукт. Один из признанных классиков маркетинга</p>
                </div>
                <div class="svk-process__titling-btn">
                    <landing-component-btn
                        class="introslide__actions-btn secondary"
                        :btnText="'Ariza yuborish'"
                        :btnLink="'#!'"
                        :btnTarget="true" />
                </div>
            </div>
            <div
                ref="process__slider"
                class="svk-process__slider">
                <div class="swiper-wrapper">
                    <div
                        v-for="(item, index) in processes"
                        :key="index"
                        class="svk-process__slide svk-processlide swiper-slide">
                        <div class="svk-processlide__content">
                            <div class="svk-processlide__icon">
                                <img
                                    class="svk-processlide__icon-file"
                                    :src="item.icon"
                                    alt="icon" />
                            </div>
                            <h3 class="svk-processlide__title">{{ item.label }}</h3>
                            <p
                                class="svk-processlide__desc"
                                v-html="item.desc"></p>
                            <a
                                :href="item.link"
                                class="svk-processlide__link">
                                <p class="svk-processlide__link-text">Batafsil</p>
                                <img
                                    class="svk-processlide__link-icon"
                                    src="@/assets/images/icon-arrowprocess.svg"
                                    alt="arrows" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="svk-process__slider-nav">
                <div class="svk-process__slider-btn process__slider-prev">
                    <img
                        src="@/assets/images/icon-sliderarrow.svg"
                        alt="arrow" />
                </div>
                <div class="svk-process__slider-btn process__slider-next">
                    <img
                        src="@/assets/images/icon-sliderarrow.svg"
                        alt="arrow" />
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import landingComponentBtn from "@/components/landing-comp-btn.vue";
import Swiper, {Autoplay, Navigation} from "swiper";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import "swiper/css/autoplay";

export default {
    name: "sectionProcess",
    components: {
        landingComponentBtn,
    },
    data() {
        return {
            processes: [
                {
                    label: "Ariza yuborish",
                    desc: "Yuridik shaxsning elektron raqamli imzosi (ERI) orqali ro‘yxatdan o‘tiladi, ariza shakli to‘ldirilib yuboriladi. Arizachi jarayonning keyingi barcha boshqichlarini kuzatib boradi. <br/><br/> Muddat: 1-5 daqiqa",
                    link: "#!",
                    icon: require("@/assets/images/icon-process-1.svg"),
                },
                {
                    label: "Tizim tekshiruvi",
                    desc: "Tizim arizachining moliyaviy holatini o‘rganib, agar ijobiy bo‘lsa keyingi boshqichga o‘tkazadi. <br/><br/> Muddati: 1 daqiqa",
                    link: "#!",
                    icon: require("@/assets/images/icon-process-2.svg"),
                },
                {
                    label: "Irrigasiya sohasi mutaxassisi tekshiruvi",
                    desc: "Loyiha ob'ektida suv tejovchi tizimni joriy etish uchun zarur sharoit yaratilganligini baholab tegishli xulosani taqdim etadi. <br/><br/> Muddat: 1 ish kuni",
                    link: "#!",
                    icon: require("@/assets/images/icon-process-3.svg"),
                },
                {
                    label: "Yetkazib beruvchini tanlash",
                    desc: "Ijobiy xulosa olingach arizachi Agrozamin platformasi orqali yetkazib beruvchini tanlaydi va pudrat shartnomasini imzolaydi. <br/><br/> Muddat: 1-5 daqiqa",
                    link: "#!",
                    icon: require("@/assets/images/icon-process-4.svg"),
                },
                {
                    label: "Kafillik shartnomasini imzolash",
                    desc: "Ushbu bosqichda klaster yoki tadbirkorlik jamg‘armasi bilan ERI orqali imzolanishi mumkin. Kafillik shartnomasi kredit miqdorining 50 foizigacha rasmiylashtirilishi mumkin. <br/><br/> Muddat: 1 ish kuni",
                    link: "#!",
                    icon: require("@/assets/images/icon-process-5.svg"),
                },
                {
                    label: "Bank hujjatlarini imzolash",
                    desc: "Ushbu bosqichda Kredit komissiyasi hujjatlarni ko‘rib chiqadi, qaror qabul qiladi, kredit komissiyasi bayonnomasi imzolangandan so‘ng Kredit shartnomasi imzolanadi. <br/><br/> Muddat: 3 ish kunigacha",
                    link: "#!",
                    icon: require("@/assets/images/icon-process-6.svg"),
                },
                {
                    label: "Sug‘urta shartnomasini imzolash",
                    desc: "Arizachi tomonidan tanlangan sug‘urta kompaniyasi bilan kredit qaytaruvchanligini ta'minlash uchun sug‘urta shartnomasi rasmiylashtiriladi. Sug‘urta kredit summasining kamida 70 foizini qoplashi lozim. <br/><br/> Muddat: 1 ish kuni",
                    link: "#!",
                    icon: require("@/assets/images/icon-process-7.svg"),
                },
                {
                    label: "Kredit ajratilishi va dastlabki to‘lov",
                    desc: "Bank kredit mablag‘ini shakllantiradi, pudrat shartnomasi va elektron to‘lov topshiriqnomasiga asosan boshlang‘ich to‘lovni pudratchining Agrobankdagi maxsus hisob raqamiga to‘lab beradi. <br/><br/> Muddat: 1 ish kuni",
                    link: "#!",
                    icon: require("@/assets/images/icon-process-8.svg"),
                },
                {
                    label: "Loyihani joriy etish",
                    desc: "Tanlangan pudratchi tashkilot qurilish ishlarini amalga oshiradi. <br/><br/> Muddat: 45 ish kuni, bunda: · Paxta yer maydoni uchun kalendar' yilning 15 may sanasigacha · G‘alla yer maydoni uchun 15 noyabr' sanasigacha",
                    link: "#!",
                    icon: require("@/assets/images/icon-process-9.svg"),
                },
                {
                    label: "Yakuniy to‘lov",
                    desc: "Loyiha ob'ektida joriy etilgan tizim ishga tushirilgach uch tomonlama yakuniy dalolatnoma imzolanadi va yakuniy to‘lov amalga oshiriladi. <br/><br/> Muddat: yakuniy dalolatnoma imzolangan sanadan boshlab 10 kunda",
                    link: "#!",
                    icon: require("@/assets/images/icon-process-10.svg"),
                },
            ],
        };
    },
    mounted() {
        new Swiper(this.$refs.process__slider, {
            modules: [Navigation, Autoplay],
            loop: false,
            slidesPerView: 3,
            spaceBetween: 30,
            autoplay: {
                delay: 3000,
                pauseOnMouseEnter: true,
            },
            navigation: {
                nextEl: ".process__slider-next",
                prevEl: ".process__slider-prev",
            },
        });
    },
};
</script>
