<template>
    <section class="svk-subintro">
        <div class="svk-subintro__content container">
            <div class="svk-subintro__slider">
                <div
                    v-for="(item, index) in slides"
                    :key="index"
                    :class="{'sv-current': index == slidesCurrent}"
                    class="svk-subintro__slide subintroslide">
                    <div class="subintroslide__image">
                        <img
                            class="subintroslide__image-img"
                            src="@/assets/images/illustration-1.svg"
                            alt="photo" />
                    </div>
                    <div class="subintroslide__desc">
                        <h2 class="subintroslide__title">Loyiha haqida</h2>
                        <p class="subintroslide__text">“Suv resusrlaridan foydalanish samaradorligini oshirish bo’yicha kechiktirib bo’lmaydigan chora- tadbirlar to’g’risida”</p>
                        <landing-component-btn
                            class="subintroslide__action"
                            :btnText="'Batafsil'"
                            :btnLink="'#!'"
                            :btnTarget="true" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import landingComponentBtn from "@/components/landing-comp-btn.vue";

export default {
    name: "sectionSubintro",
    components: {
        landingComponentBtn,
    },

    data() {
        return {
            slidesCurrent: 0,
            slides: [
                {
                    label: "lorem",
                    text: "text",
                    image: "image",
                },
                {
                    label: "lorem",
                    text: "text",
                    image: "image",
                },
                {
                    label: "lorem",
                    text: "text",
                    image: "image",
                },
            ],
        };
    },

    methods: {
        next() {
            // this.slidesCurrent:
        },
    },
};
</script>
