<template>
    <section
        id="faq"
        class="svk-faq">
        <div class="svk-faq__content container">
            <div class="svk-faq__titling">
                <h2 class="svk-faq__title">Savol-Javoblar</h2>
                <landing-component-btn
                    class="svk-news__titling-btn secondary"
                    :btnText="'Barchasi'"
                    :btnLink="'#!'"
                    :btnTarget="true" />
            </div>
            <div class="svk-faq__cards">
                <div
                    class="svk-faq__card"
                    v-for="(item, index) in questionList"
                    :key="index"
                    :class="{opened: item.showStatus}"
                    @click="item.showStatus = !item.showStatus">
                    <div class="svk-faq__card-title">
                        <p>{{ item.question }}</p>
                    </div>
                    <div class="svk-faq__card-content">
                        <p>{{ item.content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import landingComponentBtn from "@/components/landing-comp-btn.vue";

export default {
    name: "sectionIntroduction",
    components: {
        landingComponentBtn,
    },
    data() {
        return {
            questionList: [
                {
                    question: "Sizning platformangiz foydalanuvchilarga qanday afzalliklarni taqdim etadi?",
                    content: `Платформамиз онлайн шаклда ариза бериш жараёнини, аризани кўриб чиқиш жараёнини кузатиб бориш, сув тежовчи технологияларни банк кредити ҳисобидан жорий этиш жараёни шаффофлигини таъминлайди. Шунингдек, платформада сув тежайдиган технологияларни танлашда керакли маслаҳатлар тақдим этиб борилади.`,
                    showStatus: false,
                },
                {
                    question: "SuvKredit platformasi orqali kimlar onlayn kredit olish huquqiga ega?",
                    content: `Сув Кредит платформасида фермер хўжаликлари ва агрокластерлар сув тежаш технологияларини жорий этиш учун кредит расмийлаштириш имкони мавжуд. Бунда ариза берувчиларнинг асосий ҳисоб рақамлари Агробанкда юритилиши лозим`,
                    showStatus: false,
                },
                {
                    question: "Kredit ma'qullangandan keyin foydalanuvchilar yetkazib beruvchini qanday tanlashlari mumkin?",
                    content: `Ариза бўйича ариза берувчи ва лойиҳа объекти маълумотларига асосан ижобий қарор қабул қилингандан сўнг ариза берувчилар Агрозамин платформасида ўзига маъқул етказиб берувчини танлашлари ва улар билан шартнома тузишлари мумкин.`,
                    showStatus: false,
                },
                {
                    question: "Foydalanuvchilar qanday qilib SuvKredit orqali arizaning holatini kuzatishi mumkin?",
                    content: `Фойдаланувчилар платформадаги тегишли тугмани босиб ариза рақамини киритган ҳолда ёки шахсий кабинети орқали ариза ҳолатини кузатиб боришлари мумкин.`,
                    showStatus: false,
                },
                {
                    question: "Kreditni qanchalik tez olishim mumkin?",
                    content: `Платформа орқали кредитни тасдиқлаш жараёни одатда бир неча кун давом этади. Мижозларимиз сувни тежовчи технологияларни тезда жорий қилишни бошлашлари учун биз жараённи имкон қадар тезлаштиришга ҳаракат қиламиз. Бироқ, аниқ вақт лойиҳанинг мураккаблигига ва унинг бизнинг мезонларга мувофиқлигига боғлиқ бўлиши мумкин.`,
                    showStatus: false,
                },
                {
                    question: "Platforma orqali kredit berish shartlari qanday?",
                    content: `Кредит муддати: 5 йилгача
Фоиз ставкаси: 21 фоиз (қўшимча равишда компенсация ва субсидиядан фойдаланиш имконияти мавжуд)
Миқдори: сув тежаш технологияси жорий этилаётган ҳудуд ҳажмидан келиб чиққан ҳолда аниқланади
Имтиёзли давр: 1 йилгача
Кредит шартлари кредитнинг миқдори, муддати ва мақсадига қараб фарқ қилиши мумкин. Биз ҳар бир фойдаланувчига мослашувчан шартлар ва индивидуал ёндашувни тақдим этамиз. Батафсил маълумот олиш учун платформада кўрсатилган телефон рақамлари орқали биз билан боғланинг.`,
                    showStatus: false,
                },
                {
                    question: "Suv tejovchi texnologiyalarga nimalar kiradi?",
                    content: `Сув тежовчи технологияларга инновацион суғориш тизимлари, сувларни қайта ишлаш технологиялари, самарали суғориш тизимлари ва сув ресурсларидан фойдаланишни оптималлаштиришга қаратилган бошқа ечимлар киради.`,
                    showStatus: false,
                },
            ],
        };
    },
};
</script>
