<template>
    <section class="svk-about">
        <div class="svk-about__content container">
            <div class="svk-breadcrumbs">
                <a
                    class="svk-breadcrumbs__link"
                    href="/">
                    <img
                        class="svk-breadcrumbs__link-icon"
                        src="@/assets/images/icon-home.svg"
                        alt="icon" />
                </a>
                <a
                    class="svk-breadcrumbs__link"
                    href="#!">
                    <p class="svk-breadcrumbs__link-text">Servis haqida</p>
                </a>
            </div>
            <div class="svk-about__titling">
                <h1 class="svk-about__title">Servis haqida</h1>
            </div>

            <div class="svk-about__body">
                <img
                    class="svk-about__logo"
                    src="@/assets/images/icon-mainlogo.svg"
                    alt="logo" />

                <p>
                    <strong>“Agrobank” ATB</strong>
                    Suv xo‘jaligi vazirligi va Qishloq xo‘jaligi vazirligi bilan hamkorlikda suv tejovchi texnologiyalarni joriy etish bo‘yicha ishlab chiqilgan maxsus SuvKredit axborot tizimini taqdim etadi.
                </p>

                <h3>Suvkredit</h3>
                <p>– bu qishloq xo‘jaligida suv tejovchi texnologiyalarni joriy etish niyatida bo‘lgan fermerlar va agroklasterlarga onlayn kredit olish imkoniyatini yaratish maqsadida yaratilgan onlayn servis.</p>

                <h3>Maqsadimiz:</h3>
                <ul>
                    <li>- suv tejovchi texnologiyalarni bank krediti hisobidan joriy etish jarayonini online tarzda tashkil etish;</li>
                    <li>- bankka tashrif buyurmasdan masofadan amalga oshirish;</li>
                    <li>- jarayonning barcha ishtirokchilari uchun shaffoflikni ta’minlash;</li>
                    <li>- suv tejash texnologiyalarini qishloq xo‘jaligida qo‘llanilishi ko‘lamini oshirish, hosildorlik va ishlab chiqarish samaradorligini oshirishga erishishdan iborat.</li>
                </ul>

                <h3>Xizmatlarimizdan fermerlar va qishloq xo‘jaligi klasterlari foydalanishlari mumkin.</h3>
                <p>Foydalanuvchilar platforma orqali so‘rov yuborishlari, skoring jarayonidan o‘tishlari va ijobiy javob olgach, “Agrozamin” platformasidan mos yetkazib beruvchini tanlashlari va ular bilan shartnoma imzolashlari mumkin. Shuningdek, ta’minotchi korxona bilan to’lovlarni amalga oshirish, kredit ajratish bilan bog’liq bo’lgan barcha hujjatlarni online shaklda rasmiylashtirish imkoniyati taqdim etiladi.</p>
            </div>

            <div class="svk-about__linkblock">
                <h3 class="svk-about__linkblock-title">Batafsil ma’lumotlar:</h3>
                <div class="svk-about__linkblock-cards">
                    <a
                        href="/?goto=process"
                        class="svk-about__linkblock-card ablinkcard">
                        <div class="ablinkcard__toppart">
                            <img
                                class="ablinkcard__image"
                                src="@/assets/images/icon-process-1.svg"
                                alt="icon" />
                            <p class="ablinkcard__label">Ariza topshirish va uni ko‘rib chiqish jarayoni.</p>
                        </div>
                    </a>
                    <a
                        href="/?goto=recs"
                        class="svk-about__linkblock-card ablinkcard">
                        <div class="ablinkcard__toppart">
                            <img
                                class="ablinkcard__image"
                                src="@/assets/images/icon-linkcard-1.svg"
                                alt="icon" />
                            <p class="ablinkcard__label">Suv tejovchi texnologiyalarni joriy etishni moliyalashtirshga oid normativ hujjatlar.</p>
                        </div>
                    </a>
                    <a
                        href="/?goto=faq"
                        class="svk-about__linkblock-card ablinkcard">
                        <div class="ablinkcard__toppart">
                            <img
                                class="ablinkcard__image"
                                src="@/assets/images/icon-linkcard-2.svg"
                                alt="icon" />
                            <p class="ablinkcard__label">Savol-javob</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="svk-about__linkblock">
                <h3 class="svk-about__linkblock-title">Qonunchilik:</h3>
                <div class="svk-about__linkblock-cards">
                    <a
                        href="https://lex.uz/docs/-6420836?ONDATE=11.10.2023"
                        target="_blank"
                        class="svk-about__linkblock-card ablinkcard minstry">
                        <div class="ablinkcard__toppart">
                            <img
                                class="ablinkcard__image"
                                src="@/assets/images/image-gb.png"
                                alt="icon" />
                            <p class="ablinkcard__label">O‘zbekiston Respublikasi Prezidentining</p>
                        </div>
                        <div class="ablinkcard__underpart">
                            <p>2023 yil 1 apreldagi PQ-107-son Qarori</p>
                        </div>
                    </a>
                    <a
                        href="https://lex.uz/docs/-6508429"
                        target="_blank"
                        class="svk-about__linkblock-card ablinkcard minstry">
                        <div class="ablinkcard__toppart">
                            <img
                                class="ablinkcard__image"
                                src="@/assets/images/image-gb.png"
                                alt="icon" />
                            <p class="ablinkcard__label">O‘zbekiston Respublikasi Prezidentining</p>
                        </div>
                        <div class="ablinkcard__underpart">
                            <p>2023 yil 20 iyundagi PF-101-son Farmoni</p>
                        </div>
                    </a>
                    <a
                        href="https://lex.uz/docs/-5884584"
                        target="_blank"
                        class="svk-about__linkblock-card ablinkcard minstry">
                        <div class="ablinkcard__toppart">
                            <img
                                class="ablinkcard__image"
                                src="@/assets/images/image-gb.png"
                                alt="icon" />
                            <p class="ablinkcard__label">O‘zbekiston Respublikasi Prezidentining</p>
                        </div>
                        <div class="ablinkcard__underpart">
                            <p>2022 yil 1 martdagi PQ-144-son Farmoni</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
// import landingComponentBtn from "@/components/landing-component-btn.vue";

export default {
    name: "sectionAbout",
    components: {
        // landingComponentBtn,
    },
};
</script>
