<template>
    <section
        id="recs"
        class="svk-recs">
        <div class="svk-recs__content container">
            <div class="svk-recs__titling">
                <div class="svk-recs__titling-texts">
                    <h2 class="svk-recs__title">Tavsiya va ko’rsatmalar</h2>
                    <p class="svk-recs__desc">Маркетингово-ориентированное издание специфицирует инвестиционный продукт. Один из признанных классиков маркетинга</p>
                </div>
                <div class="svk-recs__titling-btn">
                    <landing-component-btn
                        class="introslide__actions-btn secondary"
                        :btnText="'Barchasi'"
                        :btnLink="'#!'"
                        :btnTarget="true" />
                </div>
            </div>
            <div
                ref="recs__slider"
                class="svk-recs__slider">
                <div class="swiper-wrapper">
                    <div
                        v-for="(item, index) in recommendations"
                        :key="index"
                        class="svk-recs__slide svk-recsslide swiper-slide">
                        <div class="svk-recsslide__content">
                            <div class="svk-recsslide__image">
                                <img
                                    class="svk-recsslide__image-file"
                                    :src="item.image"
                                    alt="image" />
                            </div>
                            <h3 class="svk-recsslide__title">{{ item.label }}</h3>
                            <landing-component-btn
                                class="svk-recsslide__btn secondary"
                                :btnText="'Batafsil'"
                                :btnLink="'#!'"
                                :btnTarget="true" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="svk-recs__slider-nav">
                <div class="svk-recs__slider-btn recs__slider-prev">
                    <img
                        src="@/assets/images/icon-sliderarrow.svg"
                        alt="arrow" />
                </div>
                <div class="svk-recs__slider-btn recs__slider-next">
                    <img
                        src="@/assets/images/icon-sliderarrow.svg"
                        alt="arrow" />
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import landingComponentBtn from "@/components/landing-comp-btn.vue";
import Swiper, {Autoplay, Navigation} from "swiper";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import "swiper/css/autoplay";

export default {
    name: "sectionProcess",
    components: {
        landingComponentBtn,
    },
    data() {
        return {
            recommendations: [
                {
                    label: "Tomchilatib sug’orish",
                    link: "#!",
                    image: require("@/assets/images/image-rec-4.png"),
                },
                {
                    label: "Diskretlash orqali sug’orish",
                    link: "#!",
                    image: require("@/assets/images/image-rec-3.png"),
                },
                {
                    label: "Mobil sug’orish",
                    link: "#!",
                    image: require("@/assets/images/image-rec-2.png"),
                },
                {
                    label: "Sprinkl tizimli sug’orish",
                    link: "#!",
                    image: require("@/assets/images/image-rec-1.png"),
                },
                {
                    label: "Sprinkl tizimli sug’orish",
                    link: "#!",
                    image: require("@/assets/images/image-rec-1.png"),
                },
            ],
        };
    },
    mounted() {
        new Swiper(this.$refs.recs__slider, {
            modules: [Autoplay, Navigation],
            loop: true,
            slidesPerView: 3,
            spaceBetween: 30,
            autoplay: {
                delay: 3000,
                pauseOnMouseEnter: true,
            },
            navigation: {
                nextEl: ".recs__slider-next",
                prevEl: ".recs__slider-prev",
            },
        });
    },
};
</script>
