.svk-recs {
    padding: 70px 0;
    background: linear-gradient(180deg, #fff 0%, #f4f8ff 100%);

    &__titling {
        gap: 30px;
        margin-bottom: 50px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;

        &-texts {
            width: 700px;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }

    &__title {
        color: #000;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%; /* 40px */
    }

    &__desc {
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 27px */
    }

    &__slider {
        user-select: none;
        &-nav {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 25px;
            margin: 30px 0 0 0;
        }

        &-btn {
            border-radius: 24px;
            border: 3px solid #fff;
            background: #fff;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            box-shadow: 0px 1px 2px 0px rgba(111, 122, 139, 0.1), 0px 3px 3px 0px rgba(111, 122, 139, 0.09), 0px 8px 5px 0px rgba(111, 122, 139, 0.05), 0px 13px 5px 0px rgba(111, 122, 139, 0.01), 0px 21px 6px 0px rgba(111, 122, 139, 0);
            transition: 0.3s;

            img {
                transition: 0.3s;
            }

            &.disabled {
                pointer-events: none;

                img {
                    opacity: 0.2;
                }
            }

            &.recs__slider-next {
                img {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.svk-recsslide {
    &__content {
        cursor: pointer;
        border-radius: 32px;
        background: #fff;
        min-height: 400px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        border-radius: 35px;
        gap: 20px;
    }

    &__title {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%; /* 20px */
        margin: 0 0 auto 0;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-clamp: 2;
        box-orient: vertical;
    }

    &__image {
        width: 100%;
        height: 230px;
        border-radius: 25px;
        overflow: hidden;

        &-file {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background: #000;
        }
    }

    &__btn {
        width: 100% !important;
    }
}
