.svk-subintro {
    padding: 50px 0;

    &__content {
        height: 100%;
        display: flex;
        align-items: center;
        height: 420px;
        border-radius: 24px;
        background: #fff;
        box-shadow: 0px 7px 16px 0px rgba(193, 203, 220, 0.1), 0px 30px 30px 0px rgba(193, 203, 220, 0.09), 0px 67px 40px 0px rgba(193, 203, 220, 0.05), 0px 118px 47px 0px rgba(193, 203, 220, 0.01), 0px 185px 52px 0px rgba(193, 203, 220, 0);
    }

    &__slider {
        width: 100%;
        position: relative;
        height: 100%;
    }

    .subintroslide {
        display: flex;
        align-items: center;
        position: absolute;
        height: 100%;

        &__desc {
            width: 55%;
            flex-shrink: 0;
            padding: 0 50px 0 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }

        &__title {
            color: #1f2937;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 125%; /* 40px */
        }

        &__text {
            color: #000;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%; /* 30px */
            margin-bottom: 20px;
        }

        &__action {
            padding: 0 50px;
        }

        &__image {
            flex-grow: 1;
            position: relative;

            &-img {
                width: 100%;
                height: 350px;
                height: 240px;
                display: flex;
                object-fit: contain;
                border-radius: 24px;
                z-index: 1;
            }
        }
    }
}
