.svk-intro {
    height: 75vh;
    padding: 120px 0 40px 0;
    background: linear-gradient(180deg, #fff 0%, #f4f8ff 100%);

    &__content {
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__slider {
        width: 100%;
        position: relative;
        height: 400px;
    }

    .introslide {
        display: flex;
        align-items: center;
        position: absolute;
        height: 100%;
        opacity: 0;
        animation: fadeup 0.5s 1s linear forwards;

        &__desc {
            width: 50%;
            padding: 0 50px 0 0;
            display: flex;
            flex-direction: column;
            gap: 25px;
        }

        &__title {
            color: #000;
            font-size: 48px;
            font-style: normal;
            font-weight: bold;
            line-height: 60px;
            animation: fadeout 1s 1 cubic-bezier(0.5, -0.35, 0.47, 1.41) forwards;
        }

        &__text {
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            animation: fadeout 1s 0.2s 1 cubic-bezier(0.5, -0.35, 0.47, 1.41) forwards;
        }

        &__actions {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 20px;
            animation: fadeout 1s 0.4s 1 cubic-bezier(0.5, -0.35, 0.47, 1.41) forwards;

            &-btn {
                img {
                    width: 15px;
                    height: 15px;
                }
            }
        }

        &__image {
            flex-grow: 1;
            position: relative;

            &-img {
                width: 100%;
                height: 350px;
                display: flex;
                object-fit: cover;
                border-radius: 24px;
                z-index: 1;
                animation: fadeout 1s 0.2s 1 cubic-bezier(0.5, -0.35, 0.47, 1.41) forwards;
            }

            &-nav {
                position: absolute;
                top: 50%;
                z-index: 2;
                left: -25px;
                right: -25px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 0;
            }

            &-btn {
                border-radius: 24px;
                border: 3px solid #fff;
                background: #fff;
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                box-shadow: 0px 1px 2px 0px rgba(111, 122, 139, 0.1), 0px 3px 3px 0px rgba(111, 122, 139, 0.09), 0px 8px 5px 0px rgba(111, 122, 139, 0.05), 0px 13px 5px 0px rgba(111, 122, 139, 0.01), 0px 21px 6px 0px rgba(111, 122, 139, 0);
                transition: 0.3s;

                img {
                    transition: 0.3s;
                }

                &.disabled {
                    pointer-events: none;

                    img {
                        opacity: 0.2;
                    }
                }

                &.next {
                    img {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        &.sv-current {
            .introslide {
                &__title {
                    opacity: 0;
                    animation: fadeup 1s 0.4s 1 cubic-bezier(0.5, -0.35, 0.47, 1.41) forwards;
                }
                &__text {
                    opacity: 0;
                    animation: fadeup 1s 0.6s 1 cubic-bezier(0.5, -0.35, 0.47, 1.41) forwards;
                }
                &__actions {
                    opacity: 0;
                    animation: fadeup 1s 0.8s 1 cubic-bezier(0.5, -0.35, 0.47, 1.41) forwards;
                }
                &__image-img {
                    opacity: 0;
                    animation: fadeup 1s 0.6s 1 cubic-bezier(0.5, -0.35, 0.47, 1.41) forwards;
                }
            }
        }
    }
}

@keyframes fadeout {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(30px);
        opacity: 0;
    }
}

@keyframes fadeup {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
