.svk-faq {
    padding: 70px 0;
    background: linear-gradient(180deg, #fff 0%, #f4f8ff 100%);

    &__titling {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__title {
        color: #1f2937;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%; /* 40px */
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__card {
        width: 100%;
        box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.03);

        border-radius: 12px;
        border: 1px solid #e6e9ed;
        background: #fff;
        border-radius: 10px;
        min-height: 60px;
        max-height: 60px;
        overflow: hidden;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin: 5px 0;

        &-title {
            padding: 10px 20px;
            border-radius: 10px;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            padding-right: 40px;
            height: 60px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            cursor: pointer;
            position: relative;

            p {
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 160%;
                color: #26292c;
            }

            &::after {
                -webkit-transition: 0.3s;
                -o-transition: 0.3s;
                transition: 0.3s;
                position: absolute;
                top: 50%;
                right: 20px;
                width: 20px;
                height: 20px;
                background: url("@/assets/images/icon-dropdown.svg") no-repeat center center;
                background-size: 20px 20px;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                content: "";
            }
        }

        &-content {
            background: #f9f9ff;
            border-radius: 10px;
            padding: 15px;
            margin-top: 15px;
            width: calc(100% - 20px);
            margin: 10px;

            p {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 200%;
                color: #555c74;
            }
        }

        &.opened {
            max-height: 400px;

            .svk-faq__card-title::after {
                -webkit-filter: brightness(0);
                filter: brightness(0);
                -webkit-transform: translateY(-50%) rotate(180deg);
                -ms-transform: translateY(-50%) rotate(180deg);
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
}
