.svk-news {
    padding: 70px 0;
    background: linear-gradient(180deg, #fff 0%, #f4f8ff 100%);

    &__titling {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__title {
        color: #1f2937;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%; /* 40px */
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }

    .svk-newscard {
        border-radius: 24px;
        background: #fff;
        box-shadow: 0px 7px 16px 0px rgba(193, 203, 220, 0.1), 0px 30px 30px 0px rgba(193, 203, 220, 0.09), 0px 67px 40px 0px rgba(193, 203, 220, 0.05), 0px 118px 47px 0px rgba(193, 203, 220, 0.01), 0px 185px 52px 0px rgba(193, 203, 220, 0);
        height: 100%;
        width: 100%;
        overflow: hidden;
        padding: 25px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        cursor: pointer;
        transition: 0.3s;

        &__cap {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            margin-bottom: 25px;
        }

        &__tag {
            color: #5078ff;
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: 125%; /* 12.5px */
            padding: 10px;
            border-radius: 6px;
            background: rgba(55, 123, 225, 0.12);
        }

        &__date {
            color: #5078ff;
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: 125%; /* 12.5px */
        }

        &__title {
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 125%; /* 25px */
            margin-bottom: 15px;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -moz-box;
            -moz-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            line-clamp: 2;
            box-orient: vertical;
        }

        &__desc {
            color: #727f92;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%; /* 15px */
            margin: 0 0 auto 0;
        }

        &__image {
            margin-top: 25px;
            width: 100%;
            background: #000;
            flex-grow: 1;
            max-height: 210px;
            border-radius: 25px;
            transition: 0.3s;
        }

        &:nth-child(1) {
            grid-row: 1 / 3;
        }
        &:nth-child(2) {
            grid-row: 1 / 2;

            img {
                display: none;
            }
        }
        &:nth-child(3) {
            grid-row: 2 / 3;

            img {
                display: none;
            }
        }

        &:hover {
            opacity: 0.7;
            transform: scale(1.01);
        }
    }

    .svk-weather {
        grid-row: 1 / 3;
        border-radius: 24px;
        background: #fff;
        box-shadow: 0px 7px 16px 0px rgba(193, 203, 220, 0.1), 0px 30px 30px 0px rgba(193, 203, 220, 0.09), 0px 67px 40px 0px rgba(193, 203, 220, 0.05), 0px 118px 47px 0px rgba(193, 203, 220, 0.01), 0px 185px 52px 0px rgba(193, 203, 220, 0);
        height: 100%;
        width: 100%;
        overflow: hidden;
        padding: 25px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        cursor: pointer;
        transition: 0.3s;

        &__title {
            color: #000;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 125%; /* 30px */
            margin-bottom: 20px;
        }

        &__tempblock {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: 20px;

            &-date {
                width: 100%;
                color: #000;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 125%; /* 25px */
            }

            &-icon {
                width: 50px;
                height: 50px;
                display: flex;
                object-fit: contain;
            }

            &-temp {
                margin: auto 0;
                color: #000;
                font-size: 42px;
                font-style: normal;
                font-weight: 700;
                line-height: 125%; /* 52.5px */
            }

            &-appr {
                color: #727f92;
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: 125%; /* 40px */
            }
        }

        &__infoblock {
            flex-grow: 1;
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            max-height: 140px;
            border-top: 1px solid #e4ecf0;
            border-bottom: 1px solid #e4ecf0;
            margin: 20px 0;

            &-text {
                color: #727f92;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 125%; /* 17.5px */
                margin-bottom: 15px;
            }
        }

        &:hover {
            opacity: 0.7;
            transform: scale(1.01);
            margin-bottom: 20px;
        }
    }
}
