.svk-process {
    padding: 50px 0;

    &__titling {
        gap: 30px;
        margin-bottom: 50px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;

        &-texts {
            width: 700px;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }

    &__title {
        color: #000;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%; /* 40px */
    }

    &__desc {
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 27px */
    }

    &__slider {
        user-select: none;
        &-nav {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 25px;
            margin: 30px 0 0 0;
        }

        &-btn {
            border-radius: 24px;
            border: 3px solid #fff;
            background: #fff;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            box-shadow: 0px 1px 2px 0px rgba(111, 122, 139, 0.1), 0px 3px 3px 0px rgba(111, 122, 139, 0.09), 0px 8px 5px 0px rgba(111, 122, 139, 0.05), 0px 13px 5px 0px rgba(111, 122, 139, 0.01), 0px 21px 6px 0px rgba(111, 122, 139, 0);
            transition: 0.3s;

            img {
                transition: 0.3s;
            }

            &.disabled {
                pointer-events: none;

                img {
                    opacity: 0.2;
                }
            }

            &.process__slider-next {
                img {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.svk-processlide {
    &__content {
        cursor: pointer;
        border-radius: 32px;
        background: #fff;
        // min-height: 500px;
        min-height: 400px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;
        text-align: center;
    }

    &__title {
        color: #1f2937;
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-clamp: 3;
        box-orient: vertical;
    }

    &__desc {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        line-clamp: 8;
        box-orient: vertical;
        margin-bottom: auto;

        color: #000;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%; /* 22.4px */
    }

    &__link {
        cursor: pointer;
        min-width: 55px;
        max-width: 55px;
        height: 55px;
        flex-shrink: 0;
        flex-shrink: 0;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        // gap: 10px;
        transition: 0.3s;
        display: none;

        &-text {
            font-size: 14px;
            font-weight: 600;
            color: #023b8b;
            transition: 0.3s;
            white-space: nowrap;
            max-width: 0;
            overflow: hidden;
        }

        &-icon {
            transition: 0.3s;
        }

        &:hover {
            padding: 10px 20px 10px 25px;
            max-width: 150px;

            .svk-processlide__link {
                &-text {
                    max-width: 100px;
                    flex-shrink: 0;
                    margin-right: 10px;
                }
            }
        }
    }
}
