footer {
    margin: auto 0 0 0;
}

.svk-footer {
    background: #323b49;
    padding: 80px 0 50px 0;

    &__top {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 30px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding: 0 0 30px 0;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
        margin: 0 auto 0 0;
        width: 45%;
        flex-shrink: 0;

        &-logo {
            width: 200px;
            height: 60px;
            display: flex;
            object-fit: contain;
        }

        &-text {
            color: #eeeff2;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%; /* 17.5px */
            margin-bottom: 5px;
        }
    }

    &__mobiles {
        display: flex;
        margin: 10px 0 0 0;
        gap: 10px;
    }

    &__mobile {
        width: 150px;
        height: 50px;
        display: flex;
        object-fit: contain;
        transition: 0.3s;

        &:hover {
            opacity: 0.6;
        }
    }

    &__links {
        width: 15%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 15px;

        &-title {
            color: rgba(255, 255, 255, 0.6);
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
        }
    }

    &__link {
        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            color: #fff;
            opacity: 0.6;
        }
    }

    &__contacts {
        width: 20%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__contact {
        display: flex;
        gap: 10px;
        cursor: pointer;
        transition: 0.3s;

        &-icon {
            width: 20px;
            height: 20px;
            display: flex;
            object-fit: contain;
        }

        &-text {
            color: #fff;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 160%;
            letter-spacing: 0.2px;
        }

        &:hover {
            opacity: 0.6;
        }

        &:nth-child(2) {
            margin-bottom: 20px;
        }
    }

    &__credentials {
        padding: 30px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &-copyright {
            color: rgba(255, 255, 255, 0.5);
            white-space: nowrap;
            margin: 0 auto 0 0;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 160%; /* 22.4px */
        }

        &-link {
            color: #fff;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 160%; /* 22.4px */
            margin-left: 40px;
            transition: 0.3s;

            &:hover {
                color: #fff;
                opacity: 0.6;
            }
        }
    }
}
