.svk-breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 25px;

    &__link {
        transition: 0.3s;

        & + .svk-breadcrumbs__link {
            position: relative;

            &::before {
                content: "/";
                position: absolute;
                color: #79828b;
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: 125%; /* 18.75px */
                left: -20px;
                width: 20px;
                height: 20px;
                text-align: center;
            }
        }

        &:hover {
            opacity: 0.6;
        }

        &-text {
            color: #10171f;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: 125%; /* 18.75px */
            letter-spacing: -0.15px;
        }
    }
}

.svk-about {
    padding: 120px 0 0 0;

    &__content {
        padding: 20px 0;
    }

    &__title {
        color: #1f2937;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%; /* 40px */
        margin-bottom: 30px;
    }

    &__body {
        border-radius: 12px;
        background: #fff;
        box-shadow: 0px 7px 16px 0px rgba(193, 203, 220, 0.1), 0px 30px 30px 0px rgba(193, 203, 220, 0.09), 0px 67px 40px 0px rgba(193, 203, 220, 0.05), 0px 118px 47px 0px rgba(193, 203, 220, 0.01), 0px 185px 52px 0px rgba(193, 203, 220, 0);
        padding: 30px;
        margin-bottom: 50px;

        img {
            width: 100%;
            display: flex;
            border-radius: 12px;
            background: #f6f7fa;
            padding: 70px;
            height: 270px;
            object-fit: contain;
            margin-bottom: 40px;
        }

        p {
            color: #10171f;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: -0.16px;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: unset;
            }
        }

        h3 {
            color: #10171f;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; /* 150% */
            letter-spacing: -0.16px;
            margin-bottom: 5px;
        }

        ul {
            margin-bottom: 30px;
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 18px; /* 128.571% */
            letter-spacing: -0.14px;

            li {
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 5px;

                &::before {
                    display: flex;
                    content: "";
                    width: 15px;
                    height: 15px;
                    background: url("@/assets/images/icon-tick.svg") no-repeat center center/contain;
                }
            }
        }
    }

    &__linkblock {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 0 0 70px 0;

        &-title {
            color: #10171f;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; /* 100% */
            letter-spacing: -0.24px;
        }

        &-cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 25px;
        }
    }

    .ablinkcard {
        display: flex;
        flex-direction: column;
        border-radius: 24px;
        padding: 30px 60px 30px 25px;
        background: #fff;
        box-shadow: 0px 7px 16px 0px rgba(193, 203, 220, 0.1), 0px 30px 30px 0px rgba(193, 203, 220, 0.09), 0px 67px 40px 0px rgba(193, 203, 220, 0.05), 0px 118px 47px 0px rgba(193, 203, 220, 0.01), 0px 185px 52px 0px rgba(193, 203, 220, 0);
        min-height: 140px;
        position: relative;

        &__toppart {
            align-items: center;
            flex-grow: 1;
            gap: 15px;
            display: flex;
        }

        &__underpart {
            padding: 15px 00px 0 75px;

            p {
                color: rgba(0, 0, 0, 0.7);
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 125%; /* 17.5px */
            }
        }

        &__image {
            width: 60px;
            height: 60px;
            display: flex;
            flex-shrink: 0;
            object-fit: contain;
            transition: 0.3s;
        }

        &__label {
            color: #10171f;
            font-size: 14px;
            font-style: normal;
            transition: 0.3s;
            font-weight: 500;
            line-height: 20px; /* 142.857% */
            letter-spacing: -0.14px;
        }

        &::after {
            display: flex;
            content: "";
            width: 25px;
            height: 25px;
            transition: 0.3s;
            background: url("@/assets/images/icon-arrow.svg") no-repeat center center/contain;
            position: absolute;
            top: calc(50% - 12.5px);
            right: 30px;
        }

        &:hover {
            .ablinkcard__image,
            .ablinkcard__label {
                opacity: 0.7;
            }

            &::after {
                transform: translateX(5px);
            }
        }

        &.minstry {
            .ablinkcard__image {
                object-fit: cover;
                transition: unset;
                opacity: 1 !important;
            }

            &::after {
                top: 40px;
            }
        }
    }
}
